# Data Science Tools And Ecosystem

In this Notebook,Data Science Tools and Ecosystem are summarized

**Objectives:**
+ ->List Popular Data Science Languages
+ ->List commonly used libraries in data science
+ ->Tabulate some common Data Science Tools
+ ->list few examples of arithmetic operations in python

Some of the popular languages Data Scientists use are:
1.Python
2.R
3.SQL

Some of the commonly used libraries used by Data Scientists include:
1.NumPy
2.Pandas
3.Matplotlib

|Data Science Tools|
|------------------|
|Jupyter Notebook|
|Rstudio|
|Spyder|

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This a simple arithmetic expression to mutiply then add integers
a=(3*4)+5
print(a)

17

In [3]:
#This will convert 200 minutes to hours by diving by 60
minutes=200
hours=minutes//60
remaining_minutes=minutes%60
print(minutes," minutes = ",hours," hours and",remaining_minutes," minutes.")

200  minutes =  3  hours and 20  minutes.

## Author
Mounika Chitturi.